---
import Base from "~/layouts/Base.astro";

const seo = {
  title: "Blog",
  description:
    "Welcome to my personal website! Here you can find information about me, my projects, and how to contact me.",
};
---

<Base seo={seo}>
  <h1>Blog</h1>
</Base>