---
import PageHeader from "~/components/PageHeader.astro";
import Base from "~/layouts/Base.astro";

const seo = {
  title: "Blog",
  description: "",
};
---

<Base seo={seo}>
  <PageHeader>
    <h1>Blog</h1>
  </PageHeader>
</Base>
