@font-face {
  font-style: normal;
  font-weight: 200 900;
  src: url("/fonts/source-sans.woff2") format("woff2");
  font-family: "Source Sans";
  font-display: swap;
  font-feature-settings: "kern" 1;
  unicode-range: U+0020-007F, U+00A0-00FF;
}

@font-face {
  font-style: italic;
  font-weight: 200 900;
  src: url("/fonts/source-sans-italic.woff2") format("woff2");
  font-family: "Source Sans";
  font-display: swap;
  font-feature-settings: "kern" 1;
  unicode-range: U+0020-007F, U+00A0-00FF;
}

@font-face {
  font-style: normal;
  font-weight: 1 700;
  src: url("/fonts/Dash Casual.woff2") format("woff2");
  font-family: "Dash Casual";
  font-display: swap;
  font-feature-settings:
    "kern" 1,
    "liga" 1,
    "calt" 1,
    "locl" 1,
    "mark" 1,
    "mkmk" 1,
    "case" 1;
  unicode-range: U+0020-007F, U+00A0-00FF;
  /*font-variation-settings: "TRCK" 200;*/
}

body {
  font-size: var(--typography-size-body);
  font-family: "Source Sans", system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 350;
  font-family: "Dash Casual", system-ui, serif;
}

h1 {
  font-size: var(--typography-size-display);
}

h2 {
  font-size: var(--typography-size-title);
}

h3 {
  font-size: var(--typography-size-heading);
}

h4,
h5,
h6 {
  font-size: var(--typography-size-body);
}
