/* https://utopia.fyi/type/calculator/?c=320,16,1.25,1000,18,1.414,3,1,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12 */

@font-face {
  font-style: normal;
  font-weight: 200 900;
  src: url("/fonts/source-sans.woff2") format("woff2");
  font-family: "Source Sans";
  font-display: swap;
  font-feature-settings: "kern" 1;
  unicode-range: U+0020-007F, U+00A0-00FF;
}

@font-face {
  font-style: italic;
  font-weight: 200 900;
  src: url("/fonts/source-sans-italic.woff2") format("woff2");
  font-family: "Source Sans";
  font-display: swap;
  font-feature-settings: "kern" 1;
  unicode-range: U+0020-007F, U+00A0-00FF;
}

@font-face {
  font-style: normal;
  font-weight: 1 700;
  src: url("/fonts/Dash Casual.woff2") format("woff2");
  font-family: "Dash Casual";
  font-display: swap;
  font-feature-settings:
    "kern" 1,
    "liga" 1,
    "calt" 1,
    "locl" 1,
    "mark" 1,
    "mkmk" 1,
    "case" 1;
  unicode-range: U+0020-007F, U+00A0-00FF;
  /*font-variation-settings: "TRCK" 200;*/
}

body {
  font-family: var(--typography-typeface-body);
  font-size: var(--typography-scale-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 350;
  font-family: var(--typography-typeface-heading);
  font-size: var(--typography-scale-heading);
}

a {
  color: #ffd166;
  text-underline-offset: 0.25em;

  &:hover {
    color: #fff;
  }
}
