---
import Base from "~/layouts/Base.astro";
import Button from "~/components/Button.astro";
import PageHeader from "~/components/PageHeader.astro";
import Section from "~/components/Section.astro";
import SectionActions from "~/components/SectionActions.astro";
import SectionContent from "~/components/SectionContent.astro";

const seo = {
  title: "Server Error",
  description: "An unexpected error occurred.",
};
---

<Base seo={seo}>
  <PageHeader>
    <h1>Server Error</h1>
  </PageHeader>
  <Section>
    <SectionContent>
      <p>Something went wrong on our end. Try again in a moment.</p>
    </SectionContent>
    <SectionActions>
      <Button as="a" icon="arrow-left" href="/">Back to home</Button>
    </SectionActions>
  </Section>
</Base>
