---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div"> & {
  color?: "primary" | "secondary";
};

const { color, class: className, ...props } = Astro.props;
---

<div
  class:list={["border", { [`border--${color}`]: color }, className]}
  {...props}
>
  <slot />
</div>

<style>
  .border {
    margin: -1px;
    border: 1px solid var(--color-brand-neutral);
  }

  .border--primary {
    border-color: var(--color-brand-neutral);
  }

  .border--secondary {
    border-color: var(--color-surface-raised);
  }
</style>
