---
import type { Polymorphic } from "astro/types";
import type { IconName } from "~/generated/icon-sprite";
import Icon from "~/components/Icon.astro";

type Props<Tag extends "button" | "a" = "button"> = Polymorphic<{
  as: Tag;
  variant?: "primary" | "secondary" | "transparent" | "link";
  icon?: IconName;
}>;
const {
  as: Tag = "button",
  variant,
  icon,
  class: className,
  ...props
} = Astro.props;
---

<Tag
  class:list={["button", { [`button--${variant}`]: variant }, className]}
  {...props}
>
  {icon && <Icon class="button__icon" name={icon} />}
  <span class="button__label">
    <slot />
  </span>
</Tag>

<style>
  .button {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-gap-tight);
    transition:
      background var(--motion-feedback),
      border var(--motion-feedback),
      color var(--motion-feedback);
    cursor: pointer;
    border: 1px solid var(--color-brand-primary);
    background-color: var(--color-brand-primary);
    padding: var(--spacing-size-xs) var(--spacing-size-m);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
  }

  .button--secondary {
    border-color: var(--color-brand-secondary);
    background-color: var(--color-brand-secondary);
    color: #000;
  }
</style>
