---
import { Picture } from "astro:assets";
import type { ImageMetadata } from "astro";
import Border from "~/components/Border.astro";

interface Props {
  subject?: ImageMetadata;
}

const { subject } = Astro.props;
---

<Border class="hero">
  <div class="hero__visual">
    <slot name="cover" />
  </div>
  <div class="hero__content">
    <div class="hero-content__top">
      {
        subject && (
          <Picture
            class="hero__image"
            formats={["avif", "webp"]}
            widths={[200, 300, 400, 600]}
            sizes="(min-width: 600px) 200px, (min-width: 400px) 150px, 100px"
            src={subject}
            alt=""
            loading="eager"
            fetchpriority="high"
          />
        )
      }
      <slot name="action" />
    </div>

    <div class="hero-content__bottom">
      <slot />
    </div>
  </div>
</Border>

<style>
  .hero__visual {
    position: relative;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    &:has(.hero-cover--image)::after {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.25);
      pointer-events: none;
      content: "";
    }
  }

  .hero__visual :global(picture) {
    display: block;
    block-size: 100%;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size-l);
    background-color: var(--color-surface-base);
    padding: var(--spacing-size-l) var(--spacing-size-l) var(--spacing-size-xxl);
  }

  .hero-content__top {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }

  .hero-content__bottom {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-gap-tight);
  }
</style>

<style is:global>
  .hero__image {
    position: absolute;
    inset-block-end: 0px;
    inset-inline-start: 0px;
    inline-size: 100px;
    block-size: 100px;
    object-fit: cover;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 12px 24px -10px rgba(0, 0, 0, 0.25);

    @media (min-width: 400px) {
      inline-size: 150px;
      block-size: 150px;
    }

    @media (min-width: 600px) {
      inline-size: 200px;
      block-size: 200px;
    }
  }

  .hero__title {
    margin: 0;
    font-weight: 350;
    font-size: var(--typography-scale-display);
    font-family: var(--typography-typeface-heading);
  }

  .hero__meta {
    opacity: var(--opacity-muted);
    margin: 0;
    font-size: var(--typography-scale-caption);
  }
</style>
