---
import PageSpeedScorePlaceholder from "~/components/PageSpeedScorePlaceholder.astro";

type Props = {
  state: "loading" | "error";
};

const { state } = Astro.props;

const titles = ["Performance", "Accessibility", "Best Practices", "SEO"];
---

<ul class="page-speed">
  {
    titles.map((title) => (
      <li class="page-speed__item">
        <PageSpeedScorePlaceholder state={state} title={title} />
      </li>
    ))
  }
</ul>

<style>
  .page-speed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-size-s);
    padding: 0;
    list-style-type: "";
  }

  .page-speed__item {
    flex: 1;
    display: flex;
    justify-content: center;
  }
</style>
