---
import type { ComponentProps } from "astro/types";
import { StructuredText as DatocmsStructuredText } from "@datocms/astro";

type Props = ComponentProps<typeof DatocmsStructuredText>;

const { ...props } = Astro.props;
---

<div class="structured-text">
  <DatocmsStructuredText {...props} />
</div>

<style>
  .structured-text :global(p) {
    margin-block: var(--spacing-size-md);
  }

  .structured-text :global(p:first-child) {
    margin-block-start: 0px;
  }

  .structured-text :global(p:last-child) {
    margin-block-end: 0px;
  }
</style>
