---
import Border from "~/components/Border.astro";
import Footer from "~/components/Footer.astro";
import IconSprite from "~/components/IconSprite.astro";
import Logo from "~/components/Logo.astro";
import Navigation from "~/components/Navigation.astro";

import "~/generated/tokens.css";
import "~/styles/a11y.css";
import "~/styles/reset.css";
import "~/styles/typography.css";

type Props = {
  seo: {
    title: string;
    description: string;
  };
};

const { seo } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href="/fonts/source-sans.woff2"
      as="font"
      type="font/woff2"
      fetchpriority="high"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/dash-casual.woff2"
      as="font"
      type="font/woff2"
      fetchpriority="high"
      crossorigin
    />
    <title>{seo.title} • Luuk Brauckmann</title>
    <meta name="description" content={seo.description} />
  </head>
  <body>
    <aside class="navigation">
      <Navigation currentPageTitle={seo.title} />
    </aside>
    <div class="content">
      <Border class="content__border">
        <ln-header class="header">
          <Border class="header__border">
            <header>
              <a href="/">
                <Logo />
                <span class="sr-only">Luuk Brauckmann</span>
              </a>
            </header>
          </Border>
        </ln-header>

        <main>
          <slot />
        </main>

        <Footer />
      </Border>
    </div>

    <IconSprite />
  </body>
</html>

<script>
  class LnHeader extends HTMLElement {
    observer: IntersectionObserver | null = null;

    constructor() {
      super();
    }

    connectedCallback() {
      if (this) {
        this.observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.intersectionRatio < 1) {
                this?.classList.add("header--scrolled");
              } else {
                this?.classList.remove("header--scrolled");
              }
            });
          },
          {
            root: null,
            rootMargin: "0px",
            threshold: [0, 1],
          }
        );

        this.observer.observe(this);
      }
    }

    disconnectedCallback() {
      if (this.observer) {
        this.observer.disconnect();
      }
    }
  }
  customElements.define("ln-header", LnHeader);
</script>

<style>
  html {
    background-color: var(--color-surface-canvas);
    scrollbar-gutter: stable;
    color-scheme: dark;
  }

  body {
    min-block-size: 100dvh;

    @media (min-width: 800px) {
      display: grid;
      grid-template-columns: minmax(0, 200px) min(600px, 100%);
      grid-template-areas: "left center";
      justify-content: center;
    }

    @media (min-width: 1000px) {
      grid-template-columns: minmax(0, 200px) min(600px, 100%) minmax(0, 200px);
      grid-template-areas: "left center right";
    }
  }

  .header {
    display: block;
    position: sticky;
    z-index: 999;
    inset-block-start: -1px;

    &::after {
      position: absolute;
      transform: translateY(100%);
      opacity: 0;
      transition: opacity ease;
      transition-duration: var(--motion-transition);
      inset-block-end: 0px;
      inset-inline: 0px;
      background: linear-gradient(
        to bottom,
        var(--color-surface-base),
        transparent
      );
      height: var(--spacing-size-l);
      pointer-events: none;
      content: "";
    }
  }

  .header__border {
    transition: opacity ease;
    transition-duration: var(--motion-transition);
    border-block-end-color: transparent;
  }

  .header--scrolled::after {
    opacity: 1;
  }

  .header--scrolled .header__border {
    border-block-end-color: var(--color-surface-base);
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surface-canvas);
    padding: var(--spacing-size-xxs);
  }

  .content {
    grid-area: center;

    @media (min-width: 800px) {
      padding: var(--spacing-size-xs);
    }
  }

  .content__border {
    display: grid;
    grid-template-rows: auto 1fr auto;
    block-size: 100%;
  }

  .navigation {
    grid-area: left;
  }
</style>
